@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.display-flex{
    display: flex;
}

.text-tomato{
    color: #E6533C;
}
.text-b-white{
    color: #FFFFFF;
}
.text-s-white{
    color: rgba(255, 255, 255, 0.5);
}
.bg-1{
    background-color: black;
}
.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 46px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;

}
/* main{
    max-width: 1440px;
    margin: 0 auto;
} */






/* header styles  */
.bg-h{
    max-width: 1440px;
    max-height: 715px;
    background-color: #191919;
}



/* navbar related styles  */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar{
    justify-content:space-between;
    align-items: center; 
}
.nav-link{
    text-decoration: none;
    font-weight: 400px;
    font-size: 1rem;
    
}
.home{
    background-color: #E6533C;
    border-radius: 8px;
    border: none;
    font-weight: 400px;
    font-size: 1rem;
   
}
.nav-links{
    border: 1px solid black;
    border-radius: 10px;

    

}
.brand{
    font-weight: bolder;
    font-size: 2.1rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles  */
.banner-title{
    font-weight: bolder;
    font-size: 4.8rem;
}
.banner-description{
    font-weight: 400px;
    font-size: 1rem;
    margin-top: 28px;
    margin-bottom: 28px;
}

.button{
    background-color: black;
    color: #FFFFFF;
    padding: 16px 46px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    margin-left: 10px;

}
.mobile{
    display: none;
}
.banner-container-1{
    margin-right: 167px;
}
.banner-image{
    width: 100%;
}

/* change habit related styles  */
.habit{
    margin: 0 auto;
    text-align: center;
    padding: 105px 365px 58px 186px;
}
.habit-card{
    
    width: 231px;
    height: 274px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.habit-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
    
}
.habit-description{
    font-size: 0.9rem;
    font-weight: 40px;
    margin-bottom: 58px;
}
.habit-type{
    font-size: 1rem;
    font-weight: 600px;
    margin-top: 30px;
    margin-bottom: 6px;
}
.r-image{
    border-radius: 50%;
}
.habit-title{
    font-size: 3rem;
    font-weight: bolder;
}

/* run extra mile related styles  */
.run{
    max-width: 1060px;
    max-height: 371px;
    background-color: #222222;
    margin: 0 auto;
    border-radius: 10px;
}
.run-image{
    max-width: 365px;
    max-height: 312px;
    padding: 30px 32px 29px 165px;
    border-radius: 18px;


 
    
}
.run-container{
    padding: 41px  40px 54px;

} 
/* BMI description calculator related styles  */
.BMI{
    width: 815px;
    height: 150px;
    margin: 0 auto;  
 padding: 96px 384px 88px 384px; 

    
}

.b-title{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 1px;

}
.b-description{
    font-weight: 400px;
    font-size: 0.8rem;
    padding-bottom: 30px;

}
/* BMI table and form related styles  */

.BMI-container{
    height: 487px;
    background-color: #222222;
    margin: 0 auto;
    justify-content: space-around;
}
table{
    border-collapse: collapse;
   
}
td, th{
    border: 1px solid black;
    padding: 5px 10px;
}
.table{
    height: 200px;
   
}
.tb{
    padding: 52px 175px 133px 189px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gap{
    display: flex;
    gap: 10px;
}
.height{
    width: calc(50% - 5px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);

 }
 .weight{
    width: calc(50% - 5px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);


 }
 .age{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);


 }
 .Sex{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);


 }
 .act{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 34px;

 }

 /* meet our team related styles  */
 .team{
    width: 1440px;
    margin: 0 auto;
    text-align: center;  
  

    
}
.t-title{
    font-weight: bold;
    font-size: 2rem;
}
.team-container{
    width: 1060px;
    height: 604px;
    background-color: #222222;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    
    
    
}
.team-img-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
   
   
}
.team-img-container > div{
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
 .img-1{
  background-image: url(../images/trainer1.png);
}
.img-2{
   background-image: url(../images/trainer2.png);


}
.img-3{
  background-image: url(../images/trainer3.png);
}
.img-4{
   background-image: url(../images/trainer4.png);
}
.img-5{
   background-image: url(../images/trainer5.png);
}
.img-6{
  background-image: url(../images/trainer6.png);
    
} 

.text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - 20%);
}
.name{
    
    font-weight: 600px;
}
.desig{
    display: block;
    font-size: 0.7rem;
}
 



/* responsive media quarry  */

@media screen and (max-width: 576px) {
   
    .bg-h{
        max-width: 393px;
        max-height: 1224px;
        
    }
    
    .hide{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner-title{
        font-size: 2.2rem;
    }
    .btn-primary{
        /* font-size: 0.8rem; */

        margin-left: 20px;
        margin-right: 21px;
    }
    
    .button{
        margin-left: 14px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: inline;
    }
   

    /* habit responsiveness  */
    .habit{
        padding: 0px 37px 58px 38px;
    }
    .habit-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        justify-items: center;
    }

    /* run extra responsiveness  */
    .run{
        max-width: 353px;
        max-height: 531px;
    }
    .run-image{
        max-width: 287px;
        max-height: 170px;
        padding: 20px 28px 35px 43px;
        
    }
    .run-card{
        flex-direction: column;
    }
    .BMI-container{
        height: 772px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
    }
    .BMI{
       max-width: 350px; 
        max-height: 125px;
        margin: 1px 1px ; 
        padding: 1px 1px 1px 1px;
    
        
    }
    .b-title{
        font-weight: bold;
        font-size: 2rem;
        
    
    }
    .b-description{
        font-weight: 400px;
        font-size: 0.5rem;
        padding-bottom: 30px;
    
    }
    .form-title{
        font-size: 1rem;
    }
    .des-title{
        font-size: 1rem;
    }
    .form-description{
        font-size: 0.7rem;
    }
    /* meet our team responsiveness  */
    .team-img-container{
       
        
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    
        
       
       
    }
    .team-container{
        width: 353px;
        height: 1188px;
        
        border-radius: 5px;
        padding: 5px;
        
        
        
    }
    .team{
        width: 355px;
        margin: 0px;
        text-align:left;  
      
    
        
    }
   

}